.bi-telephone{
   color: #2abbc5ef !important;
}
.bi-geo-alt{
    color: #2abbc5ef !important;
}
.bi-envelope{
    color: #2abbc5ef !important;
}
.btn-primary{
    background-color: #2abbc5ef !important;
}